In [1]:
import pandas as pd

series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

print("Element-wise comparison:")
print("Equal:\n", series1 == series2)
print("Greater:\n", series1 > series2)
print("Less:\n", series1 < series2)

Element-wise comparison:
Equal:
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater:
 0    False
1     True
2     True
3    False
4    False
dtype: bool
Less:
 0     True
1    False
2    False
3     True
4    False
dtype: bool

In [2]:
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

print("Addition:\n", series1 + series2)
print("Subtraction:\n", series1 - series2)
print("Multiplication:\n", series1 * series2)
print("Division:\n", series1 / series2)

Addition:
 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication:
 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [3]:
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
series = pd.Series(dictionary1)
print(series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [4]:
series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
array = series.to_numpy()
print(array)

['Love' 800 'Joy' 789.9 'Peace' True]

In [9]:
# Load the Africa Cup of Nations dataset
df = pd.read_csv('AfricaCupofNationsMatches.csv')

# Get the 'HomeTeamGoals' column
home_goals = df['HomeTeamGoals']

# Find the most frequent value
most_frequent = home_goals.mode()[0]

# Replace all other values with 'Other'
modified_series = home_goals.apply(lambda x: x if x == most_frequent else 'Other')
print(modified_series)

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

In [10]:
#DATAFRAMES

# 1. Write a Pandas program to read the given csv file.
import pandas as pd
df = pd.read_csv("AfricaCupofNationsMatches.csv")

In [11]:
# 2. Write a Pandas program to get the first 7 rows of your data frame.
print(df.head(7))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [12]:
# 3. Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns.
print(df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']])

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [13]:
# 4. Write a Pandas program to select the rows where Egypt appears.
print(df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')])

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [14]:
# 5. Write a Pandas program to count the number of rows and columns of your data frame.
print("Rows:", df.shape[0], "Columns:", df.shape[1])

Rows: 622 Columns: 12

In [15]:
# 6. Write a Pandas program to select the rows where the ‘Attendance’ is missing.
print(df[df['Attendance'].isna()])

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [16]:
# 7. Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
print(df[df['HomeTeamGoals'].between(3, 6)])

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [17]:
# 8. Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.
df.loc[2, 'AwayTeamGoals'] = 10
print(df.loc[2])

Year                                 1957
Date                            16-Feb-57
Time                                  NaN
HomeTeam                           Egypt
AwayTeam                         Ethiopia
HomeTeamGoals                         4.0
AwayTeamGoals                        10.0
Stage                               Final
SpecialWinConditions                  NaN
Stadium                 Municipal Stadium
City                             Khartoum
Attendance                        30000.0
Name: 2, dtype: object

In [18]:
# 9. Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamGoals’ in descending order.
df_sorted = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print(df_sorted.head())

     Year      Date  Time   HomeTeam  AwayTeam  HomeTeamGoals  AwayTeamGoals  \
205  1990   2-Mar-90   NaN  Algeria    Nigeria            5.0            1.0
29   1968  14-Jan-68   NaN  Algeria     Uganda            4.0            0.0
135  1980  16-Mar-80   NaN  Algeria     Guinea            3.0            2.0
164  1984   5-Mar-84   NaN  Algeria     Malawi            3.0            0.0
171  1984  17-Mar-84   NaN  Algeria      Egypt            3.0            1.0

                 Stage SpecialWinConditions                       Stadium  \
205            Group A                  NaN          Stade 5 Juillet 1962
29             Group A                  NaN        Hailé Sélassié Stadium
135            Group B                  NaN               Liberty Stadium
164            Group B                  NaN                  Stade Bouaké
171  Third place match                  NaN  Stade Félix Houphouët-Boigny

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0

In [19]:
# 10. Write a Pandas program to get list from DataFrame column headers.
print(df.columns.tolist())

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [20]:
# 11. Write a Pandas program to append a column of your choice to your DataFrame.
df['MatchPlayed'] = True
print(df[['HomeTeam', 'AwayTeam', 'MatchPlayed']].head())

    HomeTeam       AwayTeam  MatchPlayed
0     Sudan           Egypt         True
1  Ethiopia    South Africa         True
2     Egypt        Ethiopia         True
3      Egypt       Ethiopia         True
4     Sudan        Ethiopia         True

In [21]:
# 12. Write a Pandas program to add 2 rows to your DataFrame.
new_rows = pd.DataFrame([df.iloc[0].to_dict(), df.iloc[1].to_dict()])
df = pd.concat([df, new_rows], ignore_index=True)
print(df.tail(3))

     Year                      Date   Time    HomeTeam       AwayTeam  \
621  2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622  1957                  10-Feb-57    NaN     Sudan           Egypt
623  1957                  10-Feb-57    NaN  Ethiopia    South Africa

     HomeTeamGoals  AwayTeamGoals       Stage  \
621            0.0            1.0       Final
622            1.0            2.0  Semifinals
623            NaN            NaN  Semifinals

                                  SpecialWinConditions  \
621                                                NaN
622                                                NaN
623  Ethiopia  wins due to disqualification of othe...

                         Stadium       City  Attendance  MatchPlayed
621  Cairo International Stadium      Cairo     75000.0         True
622            Municipal Stadium   Khartoum     30000.0         True
623                          NaN        NaN         NaN         True

In [22]:
# 13. Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')
print(df[df['AwayTeam'] == 'China'].head())

Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance, MatchPlayed]
Index: []

In [23]:
# 14. Write a Pandas program to reset index in your DataFrame.
df = df.reset_index(drop=True)
print(df.head())

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance  MatchPlayed
0   Khartoum     30000.0         True
1        NaN         NaN         True
2   Khartoum     30000.0         True
3      Cairo     30000.0         True
4      Cairo     20000.0         True

In [24]:
# 15. Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
print('Stadium' in df.columns)

True

In [25]:
# 16. Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
print(df['AwayTeamGoals'].dtype)

float64

In [26]:
# 17. Write a Pandas program to remove the last 10 rows from your DataFrame.
df = df[:-10]
print(df.tail())

     Year                     Date   Time      HomeTeam       AwayTeam  \
609  2019  6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea
612  2019  8 July 2019 (2019-07-08)  18:00        Mali     Ivory Coast
613  2019  8 July 2019 (2019-07-08)  21:00       Ghana         Tunisia

     HomeTeamGoals  AwayTeamGoals        Stage  \
609            0.0            1.0  Round of 16
610            2.0            2.0  Round of 16
611            3.0            0.0  Round of 16
612            0.0            1.0  Round of 16
613            1.0            1.0  Round of 16

                  SpecialWinConditions                      Stadium  \
609                                NaN  Cairo International Stadium
610  Madagascar  win on Penalities 4-2           Alexandria Stadium
611                                NaN              30 June Stadium
612                                NaN                 Suez Stadium
613      Tunisia win on Penalities 4-5             Ismailia Stadium

            City  Attendance  MatchPlayed
609        Cairo     75000.0         True
610   Alexandria      5890.0         True
611        Cairo      8205.0         True
612         Suez      7672.0         True
613     Ismailia      8890.0         True

In [27]:
# 18. Write a Pandas program to iterate over rows in your DataFrame.
for index, row in df.head(3).iterrows():
    print(index, row['HomeTeam'], row['AwayTeam'])

0 Sudan   Egypt
1 Ethiopia   South Africa
2 Egypt   Ethiopia

In [28]:
# 19. Write a Pandas program to change the order of your DataFrame columns.
new_order = ['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals'] + \
            [col for col in df.columns if col not in ['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
df = df[new_order]
print(df.columns.tolist())

['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Year', 'Date ', 'Time ', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance', 'MatchPlayed']

In [29]:
# 20. Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
df = df[df['HomeTeamGoals'] != 0]
print("Rows with HomeTeamGoals = 0:", df['HomeTeamGoals'].eq(0).sum())

Rows with HomeTeamGoals = 0: 0